@model List<personapi_dotnet.Models.Entities.Persona>
@{var cantiad = Model.Count;}

    <h1>Personas</h1>
    <a asp-action="Add" class="btn btn-success">Registrar Nueva Persona</a>
    <form asp-action="Info" method="get" class="form-inline">
        <input type="text" id="Cc" name="id" placeholder="Buscar por cédula" class="form-control mt-3 mb-3" />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Universidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var persona in Model)
            {
                <tr>
                    <td>@persona.Cc</td>
                    <td>@persona.Nombre @persona.Apellido</td>
                    <td>
                        @if (persona.Telefonos != null && persona.Telefonos.Count > 0)
                        {
                            foreach (var telefono in persona.Telefonos)
                            {
                                @telefono.Num <br />
                            }
                        }
                        else
                        {
                            <p>No tiene telefonos</p>
                        }
                    </td>
                    <td>
                        @if (persona.Estudios != null && persona.Estudios.Count > 0)
                        {
                            foreach (var est in persona.Estudios)
                            {
                                @est.Univer <br />
                            }
                        }
                        else
                        {
                            <p>No ha estudiado</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@persona.Cc" class="btn btn-primary">Editar Informacion</a>
                        <a asp-action="Delete" asp-route-id="@persona.Cc" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Personas registradas: @cantiad</p>